{% extends "run_layout.html" %} {% set page_title="repl test" %}

{% block heading %}
    <div class="text-center">
        <h1 class="fs-1">repl test</h1>
        <p class="fs-4">test to see if I can make a simple print and input thing work</p>
        <py-env>
            - paths:
                - /repl_test.py
        </py-env>
    </div>
        <hr>
{% endblock %}

{% block content %}
    <!--<script src="./repl_test.js"></script>-->

    <py-script src="./repl_test.py">
    </py-script>

    <div id="output" class="container-fluid" style="margin-bottom: 30px;">
        <py-repl output="output">
            print("hello there")
        </py-repl>
    </div>
    
{% endblock %}