{% extends "layout.html" %} {% set page_title="Enter Password" %} 

{% block heading %}
<div class="position-relative top-50 start-50 translate-middle-x">
  <h1 class="fs-1">Enter Passord</h1>
  <p class="fs-4 text-muted text-capitalize">please enter password so that you can access {{student_name}}'s project files</p>
  <br>
</div><!--makes a centered div-->
{% endblock %}

{% block content %}
<div class="container text-center">

<div class="container-sm">
          <div class="row">
            <div class="col-2"></div><!--for spacing-->
            <div class="col-8 border border-info border-1 rounded-1">
                <form method="POST" class="my-0">
                    <input class="my-3 border-3 rounded-1" placeholder="enter password here" name="password" type="text">
                    <br>
                    <input type="submit" class="btn btn-primary mt-1 mb-3">
                </form>
            </div><!--col-6//main ui part//has the blue border-->
            <div class="col-2"></div><!--for spacing-->
          </div><!--row-->
        </div><!--container-->
</div>
{% endblock %}
