{% extends "layout.html" %} {% set page_title="Python" %}

{% block heading %}
<div class="position-relative top-50 start-50 translate-middle-x">
  <h1 class="fs-1">Python</h1>
  <br>
</div><!--makes a centered div-->
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <!--begining of description col-->
    <div class="col col-12 col-lg-9 lh-lg">
      <!--begining of the explanation about this class-->
      <p class="fs-4 text-start">
        In this class, students will learn the basics of Python, the easiest coding language to pick up if you have no prior knowledge.
        The objective of this course is to provide a strong foundation that you can build onto if you decide to pick up coding in the future.
        The idea is that a more complete understanding of the fundamentals will help a student acquire a deeper understanding of more advanced topics, whether that topic is in game development or software engineering.
      </p>
      <!--end of the explanation about this class-->
      <p class="fs-1">Pricing</p>
      <ul class="list-group">
        <li class="list-group-item">
          <p class="fs-4">$25 For A 1 Hour Session</p>
        </li>
      </ul>
    </div>
    <!--end of description col-->

    <!--begining of course overview col-->
    <div class="col col-12 col-lg-3">
      <!--start of the list for all of the steps-->
      <div>
        <ul class="border border-primary steps-list list-group list-group-flush text-center">

          <li class="steps-dropdown list-group-item">
            <span>Introduction Into Programming</span>
            <div class="steps-dropdown-content">
              <p><b>Let's Learn The Basics</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Variables</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How Python Stores Data</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Making Decisions</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How To Implement Conditional Statements</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Getting Started With Loops</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How To Reuse Your Code</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Functions</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How To Seperate Your Code Into Different Independent Parts</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Lists and Dictionaries</span>
            <div class="steps-dropdown-content">
              <p><b>Let's Make a Better Variable</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Learning GUI</span>
            <div class="steps-dropdown-content">
              <p><b>Our Interface Looks Bad. Let's Fix That</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Canvas And OOP</span>
            <div class="steps-dropdown-content">
              <p><b>Let's Learn How To Use Object Oriented Programming</b></p>
            </div>
          </li>

        </ul>
      </div>
      <!--end of the list for all of the steps-->
    </div><!--end of course overview col-->
  </div><!--row-->
</div><!--container-->
{% endblock %}





