{% extends "layout.html" %} {% set page_title="Web Dev" %} 

{% block heading %}
<div class="position-relative top-50 start-50 translate-middle-x">
  <h1 class="fs-1">Website Development</h1>
  <br>
</div><!--makes a centered div-->
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <!--begining of description col-->
    <div class="col col-12 col-lg-9">
      <!--begining of the explanation about this class-->
      <p class="fs-4 text-start lh-lg">
        This class focuses on teaching the student how to create impressive websites from scratch. 
        Throughout the course, the student will be guided through the fundamentals of web development. 
        By the end, the student will have built their own personal website. 
        While this may initially seem overwhelming, it's important for the student to remember that they don't need to grasp everything at once. 
        The student's knowledge will grow progressively, and concepts will start to fall into place.
      </p>
      <!--end of the explanation about this class-->
      <p class="fs-1">Pricing</p>
      <ul class="list-group">
        <li class="list-group-item">
          <p class="fs-4">$25 For A 1 Hour Session</p>
        </li>
      </ul>
    </div>
    <!--end of description col-->

    <!--begining of course overview col-->
    <div class="col col-12 col-lg-3">
      <!--start of the list for all of the steps-->
      <div>
        <ul class="border border-primary steps-list list-group list-group-flush text-center">

          <li class="steps-dropdown list-group-item">
            <span>Intro Into HTML</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How to Add Objects Into Your Webpage</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Let's Dress It Up</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How To Style Your Website Using CSS</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>It's Alive!</span>
            <div class="steps-dropdown-content">
              <p><b>Let's Make Our Website Interactive Using JavaScript</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>JQuery</span>
            <div class="steps-dropdown-content">
              <p><b>Let's Use Our First Plugin</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Bootstrap</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How To Use Bootstrap To Make Styling Easier</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Let's Make It Better</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How To Use Python To Make It Better</b></p>
            </div>
          </li>

          <li class="steps-dropdown list-group-item">
            <span>Let's Add Memory</span>
            <div class="steps-dropdown-content">
              <p><b>Learn How To Incorporate Databases</b></p>
            </div>
          </li>

        </ul>
      </div>
      <!--end of the list for all of the steps-->
    </div><!--end of course overview col-->
  </div><!--row-->
</div><!--container-->
{% endblock %}





